<!DOCTYPE html>
<html>
  <head>
    <title>WideWorld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="image" property="og:image" content="s3://wide-world-seeds/homepage.png">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&libraries=places" %>
    <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript">window.logoURL = "<%= image_url('logo4.png') %>";</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
